@using TDDSample.Web.Controllers
@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h3>@Model.Customer.Name</h3>
    <form method="post">
        <table class="table">
            <tbody>
            <tr>
                <td>
                    <select asp-for="SelectedMovieId" asp-items="@(Model.Movies)" class="form-control">
                    </select>
                </td>
                <td>
                    <input asp-for="DaysRented" class="form-control"/>
                </td>
                <td>
                    <button class="btn btn-success" type="submit" asp-action="Add">+</button>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th colspan="2">金額</th>
                <td>@Model.Customer.Statement()</td>
            </tr>
            </tfoot>
        </table>
    </form>
</div>